form {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
}
form div {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}
form div label {
  flex: 1
}
form div input, form div select {
  flex: 3
}