 form {
    display: flex; 
    flexDirection: column; 
    padding: 1rem 1rem; 
    justifyItems: center; 
  }

  section {
    display: flex;
    justifyContent: center;
    alignItems: center;
    width: 90%;
    paddingBottom: 1rem;
  }

  label {
    width: 25%; 
    textAlign: right; 
    paddingRight: 1rem; 
  } 

  input { 
    width: "75%"
  }