form {
  display: flex;
  flex-direction: column;
}
form div {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}
form div button {
  padding: 2px 20px;
}
form div label {
  flex: 1;
}
form div input,
form div textarea {
  flex: 3;
}
