/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Styling */ 
:root { 
  --drawer-width: 240px; 
  --app-bar-height: 71px; 
}

.unAuthenticatedAccountPage__container {
  margin: 1rem; 
}
.registrationForm__container {
  display: flex;
  flex: 1; 
  justify-content: center;
}
.signInForm__container {
  display: flex;
  justify-content: center;
}
.signInForm__paper {
  display: flex;
  padding: 1rem 2rem;
}
.signInForm__form  {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  margin: 1rem 2rem;
}
.singInForm__header {
  display: flex; 
  justify-content: center;
}
.signInForm__fieldContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signInForm__usernameTextField, .signInForm__passwordTextField {
  flex: 1;
  width: 100%;
  margin-bottom: 1rem;
}
.signInForm__button {
  display: flex;
  justify-content: center;
}
.signInForm__goToRegister {
  display: flex; 
  justify-content: center;
}

/** Registration Form  **/ 
.registrationForm__container {
  display: flex;
  justify-content: center;
}
.registrationForm__paper {
  padding: 1rem 2rem;
}
.registrationForm__fieldContainer {
  display: flex;
  flex-direction: column;
}
.registrationForm__form {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  margin: 1rem 2rem;
} 
.registrationForm__header {
  display: flex; 
  justify-content: center;
  margin-top: 1rem;
} 
.registrationForm__nameField, .registrationForm__emailField, .registrationForm__phoneField, .registrationForm__usernameField, .registrationForm__passwordField {
  margin-bottom: 1rem;
}
.registrationForm__button {
  display: flex; 
  justify-content: center;
}
.registrationForm__goToLogin {
  display: flex; 
  justify-content: center;
}



.persistentDrawerLeft__root {
  display: flex;
}

/* .persistentDrawerLeft__appBar { 
  transform: translateX(var(--drawer-width));
} */

.persistentDrawerLeft__appNameContainer {
  display: flex;
  flex: 1; 
  height: var(--app-bar-height);
  align-items: center;
  justify-content: center;
}
.persistentDrawerLeft__avatar {
  padding-left: 1rem;
}
.persistentDrawerLeft__drawerHeader{
  position: fixed;
  height: var(--app-bar-height);
  display: flex;
  align-items: center;
  width: var(--drawer-width); 
}
.persistentDrawerLeft__linkList {
  border-top: 1px solid gray;
  top: var(--app-bar-height);
}

.persistentDrawerLeft__link {
  position: relative;
  text-decoration: none;
  color: inherit;
  width: var(--drawer-width);
}
.persistentDrawerLeft__main {
  margin-top: calc(var(--app-bar-height) + 15px);
  padding-top: 1rem;
  flex: 1; 
  display: flex;
  flex-direction: column;
  background-color: #F8F8FF;
  height: 100vh;
  overflow: hidden;
}

.persistentDrawerLeft__divider {
  width: var(--drawer-width); 
}
.about__container {
  padding: 1rem;
}