/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Styling */ 
:root { 
  --drawer-width: 240px; 
  --app-bar-height: 71px; 
  --default-page-margin: 1rem; 
}

.unAuthenticatedAccountPage__container {
  margin: var(--default-page-margin); 
}
.registrationForm__container {
  display: flex;
  flex: 1; 
  justify-content: center;
}
.signInForm__container {
  display: flex;
  justify-content: center;
}
.signInForm__paper {
  display: flex;
  padding: 1rem 2rem;
}
.signInForm__form  {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  margin: 1rem 2rem;
}
.singInForm__header {
  display: flex; 
  justify-content: center;
}
.signInForm__fieldContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signInForm__usernameTextField, .signInForm__passwordTextField {
  flex: 1;
  width: 100%;
  margin-bottom: 1rem;
}
.signInForm__button {
  display: flex;
  justify-content: center;
}
.signInForm__goToRegister {
  display: flex; 
  justify-content: center;
}

/** Registration Form  **/ 
.registrationForm__container {
  display: flex;
  justify-content: center;
}
.registrationForm__paper {
  padding: 1rem 2rem;
}
.registrationForm__fieldContainer {
  display: flex;
  flex-direction: column;
}
.registrationForm__form {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  margin: 1rem 2rem;
} 
.registrationForm__header {
  display: flex; 
  justify-content: center;
  margin-top: 1rem;
} 
.registrationForm__nameField, .registrationForm__emailField, .registrationForm__phoneField, .registrationForm__usernameField, .registrationForm__passwordField {
  margin-bottom: 1rem;
}
.registrationForm__button {
  display: flex; 
  justify-content: center;
}
.registrationForm__goToLogin {
  display: flex; 
  justify-content: center;
}



.persistentDrawerLeft__root {
  display: flex;
}

/* .persistentDrawerLeft__appBar { 
  transform: translateX(var(--drawer-width));
} */

.persistentDrawerLeft__appNameContainer {
  display: flex;
  flex: 1; 
  height: var(--app-bar-height);
  align-items: center;
  justify-content: center;
}
.persistentDrawerLeft__avatar {
  padding-left: 1rem;
}
.persistentDrawerLeft__drawerHeader{
  position: fixed;
  height: var(--app-bar-height);
  display: flex;
  align-items: center;
  width: var(--drawer-width); 
}
.persistentDrawerLeft__linkList {
  border-top: 1px solid gray;
  top: var(--app-bar-height);
}

.persistentDrawerLeft__link {
  position: relative;
  text-decoration: none;
  color: inherit;
  width: var(--drawer-width);
}
.persistentDrawerLeft__main {
  margin-top: calc(var(--app-bar-height) + 15px);
  padding-top: 1rem;
  flex: 1; 
  display: flex;
  flex-direction: column;
  background-color: #F8F8FF;
  height: 90vh;
  overflow: scroll;
  padding-bottom: var(--app-bar-height);
}
.persistentDrawerLeft__divider {
  width: var(--drawer-width); 
}
.about__container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__accordion {
  display: flex;
  justify-self: center;
  max-width: 70%;
  flex-direction: column;
  margin: var(--default-page-margin);
}
.about__accodionDetails {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 3rem;
}
.about__accordionSummary {
  text-align: center;
}
.MuiAccordionSummary-content {
  justify-content: center;
}
.accordianRight__container {
  display: flex;
  max-width: 35%;
}
.accordianRight__container img {
  max-width: 100%;
  border-radius: 10px;
}
.authenticatedAccountPage_container {
  display: flex;
  justify-content: center;
}
.authenticatedAccountPage__paper {
  margin: var(--default-page-margin);
  padding: 1rem; 
  display: flex;
  flex-direction: column;
  align-items: center;
}
.accountDetailsAccordian {
  display: flex;
  flex-direction: column;
}
.accountDetailsAccordian__detailsContainer {
  display: flex;
  flex-direction: row;
  align-content: center;
}
.accountDetailsAccordian__leftPane {
  flex: 1; 
  padding: 1rem;
  margin: var(--default-page-margin);
}
.accountDetailsAccordian__rightPane {
  flex: 1; 
  padding: 1rem;
  margin: 1rem 0.5rem;
}
.accountDetailsAccordian__buttonContainer {
  display: flex; 
  justify-content: center;
}
.accountDetailsAccordian__textfield {
  margin: 1rem;
  min-width: 280px;
}
.homeAuthenticated__container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin: var(--default-page-margin);
}

.homeAuthenticated__quadrantContainer {
  display: flex;
  flex: 1;
  margin: 1rem;
  justify-content: center;
}

.quadrant__paper {
  display: flex;
  flex-direction: column;
  flex: 1; 
  min-width: 300px;
  max-width: 500px;
  padding: 1rem;
}
.quadrantBody__container {
  min-height: 200px;
  max-height: 350px;
  flex: 1;
  padding: 5px;
  overflow: scroll;
}
.quadrant__title {
  display: flex; 
  justify-content: center;
  border-bottom: 1px solid gray;
}
.quadrantFooter {
  border-top: 1px solid gray;
  padding-top: 5px;
  display: flex;
  justify-content: center;
}
.hide {
  display: none;
}

.newLocationForm__container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.newLocationForm__textContainer, .addressForm__textContainer {
  display: flex;
  padding: 0.5rem 0rem;
  flex: 1
}
.newLocationForm__stateZipContainer{
  display: flex;
  padding: 0.5rem 0rem;
}
.newLocationForm__stateContainer, .addressForm__stateContainer{
  flex: 3; 
  padding-right: 0.5rem;
}
.newLocationForm__zipContainer, .addressForm__zipContainer {
  flex: 2; 
  padding-left: 0.5rem
}
.newLocationForm__typeContainer {
  display: flex;
  padding: 0.5rem 0;
}
.newLocationForm__submitContainer, .addressForm__buttonContainer {
  display: flex;
  justify-content: center;
}
.locationTypeSelect__inputLabel, .stateSelect__inputLabel {
  margin-left: 1rem;
  margin-top: -0.5rem;
  display: flex;
}
.vendorForm__textField {
  padding: 0.5rem 0;
}
.dollarAmountInput__label {
  z-index: 1;
  background-color: white;
}

.locationTypeSelect__inputLabel{
  margin-top: 1rem;
  text-align: center;
}
.locationTypeSelect__radioGroup {
  display: flex;
  padding: 0.5rem 0;
  justify-content: space-evenly;
}